body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #121212;
}

.music-player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1e1e;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 25px;
    width: 400px;
}

.music-player {
    text-align: center;
    width: 100%;
}

.music-player h2 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.album-art {
    width: 350px;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

audio {
    width: 100%;
    margin: 20px 0;
    outline: none;
}

/* / Song Information / */
.song-info {
    margin-bottom: 20px;
}

#song-title {
    font-size: 18px;
    color: #1db954;
    font-weight: bold;
}

#song-artist {
    font-size: 14px;
    color: #cccccc;
    margin-top: 5px;
}

/* / Navigation Buttons / */
.nav-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: #333333;
    color: white;
    width: 48%;
}

button:hover {
    background-color: #444444;
    transform: scale(1.05);
}

/* / Responsive Design / */
@media screen and (max-width: 500px) {
    .music-player-container {
        width: 300px;
        padding: 20px;
    }

    .music-player h2 {
        font-size: 20px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

/* / Search Bar / */
#search-input {
    width: 100%;
    height: 30px;
    font-size: 16px;
    border: 1px solid #333333;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: #ffffff;
    margin-bottom: 20px;
    outline: none;
}

#search-input::placeholder {
    color: #888888;
}

#playlist {
    display: none;
    list-style: none;
    position: relative;
}


.show-playlist{
    display: flex !important; 
    flex-direction: column;
}

#playlist li {
    display: flex; 
    justify-content: center;
    align-items: centre;
    font-size: 12px;
    color: #ffffff;
    cursor: pointer;
}

#playlist li:hover {
    background-color: #444444;
}

#search-input {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}